body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    min-width: 500px;
}


#input-btn{
    box-sizing: border-box;
    width: 400px;
    padding: 5px 8px;
    margin-top: 10px;
}


.btn-container{
    display: flex;
    margin: 5px 0 0; 

 }

 button{
    margin: 0 5px 0 0;
    padding: 5px 10px;
    color: white;
    border: 2px solid #9AB973;
    background: #9AB973;
 }