body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto';
   min-width: 300px;


}

.container {
   max-width: 300px;
   margin: 0 auto;
}

#head {

   color: #9AB973;
   text-shadow: 0 0 3px #000;
}

#label {
   margin: 0;
   color: #9AB973;
}


#input-btn {
   box-sizing: border-box;
   padding: 5px 8px;
   border: 2px solid #9AB973;
   margin: 0;
}


.btn-container {
   display: flex;
   margin: 5px 0 0;

}

button {
   margin: 0 5px 0 0;
   padding: 5px 10px;
   color: white;
   border: 2px solid #9AB973;
   background: #9AB973;
   cursor: pointer;
}


#ul-el {
   list-style: none;
   padding: 0;

}

li {
   margin-bottom: 10px;
}

a {
   color: #9AB973;
   font-size: 20px;

}